
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="sylver-viz">

  <template>

    <style>

      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;
        display: block;
        /* circle indicators */
        --indicator: {
          display: none;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          position: absolute;
        }
      }

      /* .row {} */

      .cell {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-color: black;
        border: 2px solid black;
        margin: 4px;
        font-size: 0.5em;
      }

      .cell[gap] {
        background-color: white;
        cursor: pointer;
      }
      .cell[generator] {
        background-color: rgb(80, 80, 80);
        cursor: pointer;
      }
      .cell[ender-gap] > .ender-gap {
        display: block;
      }
      .cell[special-gap] > .special-gap {
        display: block;
      }
      .cell[antisymm-fail] > .antisymm-fail {
        display: block;
      }

      .ender-gap {
        @apply --indicator;
        background-color: red;
        transform: translate(-5px, -5px);
      }

      .special-gap {
        @apply --indicator;
        background-color: green;
        transform: translate(13px, -5px);
      }

      .antisymm-fail {
        @apply --indicator;
        background-color: blue;
        transform: translate(13px, 13px);
      }

    </style>

    <!-- [[_stringify(details)]] -->

    <template is="dom-repeat" items="[[rows]]" as="row">
      <div class="row">
        <template is="dom-repeat" items="[[row]]" as="cell">
          <div class="cell"
            on-click="_handleClick"
            number$=[[cell.number]]
            generator$=[[cell.generator]]
            gap$=[[cell.gap]]
            antisymm-fail$=[[cell.antisymmFail]]
            ender-gap$=[[cell.enderGap]]
            special-gap$=[[cell.specialGap]]>
            <!-- identifiers -->
            <div class="ender-gap"></div>
            <div class="special-gap"></div>
            <div class="antisymm-fail"></div>
            <!-- number -->
            [[cell.number]]
          </div>
        </template>
      </div>
    </template>

  </template>

  <script>

    class SylverViz extends Polymer.Element {

      static get is() { return 'sylver-viz'; }

      static get properties() {
        return {

          details: {
            type: Object,
          },

          mod: {
            type: Number,
          },

          rows: {
            type: Array,
            value: [[]],
          }

        }
      }

      static get observers() {
        return [
          "_update(details)",
        ]
      }

			ready() {
				super.ready();
			}

      _update() {
        // Clear if error
        if (this.details.error) {
          this.set("rows", [[]]);
          return;
        }
        // Create rows based on details and mod
        var rows = [];
        // Maximum number to include
        var max_num = Math.max(...this.details.generators, this.details.frobenius);
        // There are mod rows
        for (var i = 0; i < this.mod; i++) {
          var row = [];
          // There are ceil((max_num+1)/mod) cols
          for (var j = 0; j < Math.ceil((max_num+1)/this.mod); j++) {
            // Instance row
            row.push({
              number: j*this.mod+i,
              gap: false,
              generator: false,
              enderGap: false,
              specialGap: false,
              antisymmFail: false,
            });
          }
          rows.push(row);
        }
        // Fill trues for appropriate properties
        this._fillRow(rows, this.details.gaps, "gap");
        this._fillRow(rows, this.details.generators, "generator");
        this._fillRow(rows, this.details.ender_gaps, "enderGap");
        this._fillRow(rows, this.details.special_gaps, "specialGap");
        this._fillRow(rows, this.details.antisymm_fails, "antisymmFail");
        // Update rows array
        this.set("rows", rows);
      }

      _fillRow(rows, indexes, property) {
        for (var k = 0; k < indexes.length; k++) {
          var index = indexes[k];
          var i = index % this.mod;
          var j = Math.floor(index/this.mod);
          rows[i][j][property] = true;
        }
      }

      _stringify(o) {
        return JSON.stringify(o);
      }

      _handleClick(e) {
        if (!e.model.cell.gap) {
          return;
        }
        var number = e.model.cell.number;
        var event = new CustomEvent('number-selected', {
          bubbles: true,
          composed: true,
          detail: {number: number},
        });
        this.dispatchEvent(event);
      }

    }

    window.customElements.define(SylverViz.is, SylverViz);

	</script>
	
</dom-module>
